@model TUTORIAL1.Models.Turno

@{
    ViewData["Title"] = "Editar";
}
<h1>Editar turno</h1>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"> Fecha y hora</label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Medico" class="control-label"></label>
                <select asp-for="MedicoId" class="form-control" asp-items="ViewBag.MedicoNombre"></select>
            </div>
            <br />
            <div class="form-group d-flex justify-content-center align-items-center" style="gap: 10px;">
                <input type="submit" value="Guardar" class="btn btn-primary" style="width: 150px; height: 50px; font-size: 16px; text-align: center;" />
                <a asp-action="Index" class="btn btn-secondary" style="width: 150px; height: 50px; font-size: 16px; text-align: center; display: flex; align-items: center; justify-content: center;">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}