@model Especialidad
@{
    ViewData["Title"] = "Seleccionar especialidad";
}
<div class="flex items-center justify-center text-center" style="min-height: calc(100vh - 150px)">
    <div class="p-12 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
<form asp-action="FilterByEspecialidad" method="post">
    <div class="form-group">
        <label for="especialidad">Seleccione una Especialidad</label>
        <select id="especialidad" name="especialidad" class="form-control" asp-items="ViewBag.Especialidades"></select>
    </div>
    <button type="submit" class="btn btn-primary">Seleccionar</button>
</form>
</<div>
</div>
