@model TUTORIAL1.Models.Medico

@{
    ViewData["Title"] = "Crear";
}

<a asp-action="Index"><</a>
<div class=" p-12 bg-white border border-gray-200 rounded-lg shadow">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="max-w-sm mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dni" class="block mb-2 text-sm font-medium text-gray-900">DNI</label>
                <input asp-for="Dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingresar DNI" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="block mb-2 text-sm font-medium text-gray-900">Nombre Completo</label>
                <input asp-for="NombreCompleto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingresar Nombre"  />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidad" class="block mb-2 text-sm font-medium text-gray-900" ></label>
                <select asp-for="Especialidad" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" asp-items="Html.GetEnumSelectList<Especialidad>()">
                    <option selected="selected" value="">Seleccione una opcion</option>
                </select>
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
