@{
	ViewData["Title"] = "Identificarse";
}

<div class="flex items-center justify-center text-center" style="min-height: calc(100vh - 150px)">
	<div class="p-12 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
		<form asp-action="Identificarse" method="post" class="max-w-sm mx-auto">
			<label for="dni">Ingrese su DNI:</label>
			<input type="text" id="dni" name="dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese DNI" required />
			<button type="submit" style="margin: 10px" class="btn btn-primary">Ingresar</button>
		</form>
		@if (ViewBag.ErrorMessage != null)
		{
			<p style="color:red;">@ViewBag.ErrorMessage</p>
		}
	</div>
</div>
