@{
	ViewData["Title"] = "Identificarse";
}

<div class="text-center justify-items-center justify-center">
	<div class=" p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
		<form asp-action="Identificarse" method="post" class="max-w-sm mx-auto">
			<label for="dni">Ingrese su DNI:</label>
			<input type="text" id="dni" name="dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese DNI" required />
			<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ingresar</button>
		</form>
	</div>
</div>
