@{
    ViewData["Title"] = "Clínica";
}

<div class="text-center">
    <h1>Bienvenidos a la Clínica</h1>

	<h2>Identifíquese</h2>
    <div class="grid">
		<a class="btn btn-primary" asp-area="" asp-controller="Paciente" asp-action="Identificarse">Paciente</a>
       
		<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="VistaAdministracion">Administración</a>
	</div>
</div>
